
@{
    ViewBag.Title = "SingIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="blockForm">
    <div id="blockSingInup">
        <label class="inTittle">PASSWORD</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="inForms" aria-describedby="basic-addon3"
                   value="Introduzca su contraseña">
        </div>
        <div>
            <a id="blockPassFor" href=""><i>He olvidado mi contraseña</i></a>
            <input id="sendButton" class="btn btn-light" type="button" value="Sing" onclick="window.location.href='@Url.Action("Index", "SingUpController" )';" />
        </div>
    </div>
</form>

