@{
    ViewBag.Title = "InsulineResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>CÁLCULO DE INSULINA</h1>
    <div>
        <div class="container div-name-span-class">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> Insulina / Glucemia </span>
                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> Insulina / Carbohidratos </span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> Insulina total </span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Indique sus apellidos">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Indique sus apellidos">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Indique sus apellidos">
            </div>
        </div>
    </div>
</div>
