
@{
    ViewBag.Title = "Sings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="blockForm">
    <div id="blockSingInup">
        <label class="inTittle">E-MAIL</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control"  aria-describedby="basic-addon3"
                   placeholder="Introduzca su e-mail">
        </div>
        <div id="sendButton">
            <input type="button" name="inUser" class="btn btn-light" value="SingIn" onclick="window.location.href='@Url.Action("SingIn","Sings")';" />

            <input type="button" class="btn btn-light" value="SingUp" onclick="window.location.href='@Url.Action("SingUp","Sings")';" />
        </div>
        
    </div>
</form>
