
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="blockForm">
    <div id="blockAnalysis">
        <div>

            <div class="input-group mb-3">
                <label id="labLat" class="inTittle">Nombre</label>
                <input id="inLat" type="text" class="form-control" id="inForms" aria-describedby="basic-addon3"
                       value="Introduzca su nombre">
            </div>
        </div>
    </div>
</form>

