@{
    ViewBag.Title = "InsulineResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Css/styles.css">

<div class="row">
    <h1 class="h1-title-class">CÁLCULO DE INSULINA</h1>
    <hr />
</div>


<div class="table-responsive-sm">
    <table class="table table-hover">

        <tbody>
            <tr>
                <th scope="row" class="table-info"> Insulina / Glucosa </th>
                <td class="">150</td>
            </tr>
            <tr>
                <th scope="row" class="table-info">Insulina / Carbohidratos</th>
                <td class="">100</td>
            </tr>
        </tbody>

    </table>
    <div>
        <br />
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row" class="table-info">Insulina Total</th>
                <td class=""> 2 unidades</td>
            </tr>
        </tbody>
    </table>
</div>