@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";}
<!--FORM START-->
<form id="IndexForm" action="/Login/SingIn/" method="post">
    @Html.AntiForgeryToken()
    <div class="div-align-center-class">
        <div id="blockSingInup">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Correo:</span>
                </div>
                <input type="text" class="form-control fas fa-user input-button-login-class" aria-describedby="basic-addon3"
                       placeholder="&#xf007; Introduzca su e-mail" id="inputEmail" name="inputEmail">
                <input type="submit" class="btn btn-light input-button-submit-class" name="btnEmail" value="Enviar" id="inputEmail" />
            </div>
            <p class="input-text-error-class" id="error">@ViewBag.Error</p>
        </div>
    </div>
</form>
<script src="~/Scripts/Index_Email_Verification.js"></script>