
@{
    ViewBag.Title = "SingUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--   FORMULARIO DE REGISTRO   -->
<form id="RegisterForm" action="/Login/Register" method="post">
    @Html.AntiForgeryToken()
    <div id="blockAnalysis">


        <table class="table">
            <tbody>

                <tr>
                    <th><span class="input-group-text bg-dark text-white" id="labelName">Nombre</span></th>
                    <td><input type="text" class="form-control" id="inputName" name="inputNameRegister" placeholder="Indique su nombre"></td>
                </tr>
                <tr>
                    <th><span class="input-group-text bg-dark text-white" id="labelSurname">Apellido</span></th>
                    <td><input type="text" class="form-control" id="inputSurname" name="inputSurnameRegister" placeholder="Indique sus apellidos"></td>
                </tr>
                <tr>
                    <th><span class="input-group-text bg-dark text-white" id="labelAge">Edad</span></th>
                    <td><input type="number" class="form-control" id="inputAge" name="inputAgeRegister" placeholder="Indique su edad"></td>
                </tr>
                <tr>
                    <th><span class="input-group-text bg-dark text-white" id="labelWeight">Peso</span></th>
                    <td><input type="number" class="form-control" id="inputWeight" name="inputWeightRegister" placeholder="Indique su peso en kg"></td>
                </tr>
                <tr>
                    <th>
                        <span class="input-group-text bg-dark text-white" id="labelHeight">Altura</span>
                    </th>
                    <td><input type="number" class="form-control" id="inputHeight" name="inputHeightRegister" placeholder="Altura en cm sin decimals ejem: 179"></td>
                </tr>

                <tr>
                    <th><span class="input-group-text bg-dark text-white" id="labelEmail">Email</span></th>
                    <td><input type="text" class="form-control" id="inputEmailSingUp" name="inputEmailRegister" placeholder="Email" value="@ViewBag.EmailRegister"></td>
                </tr>
                
                <tr>
                    <th> <span class="input-group-text bg-dark text-white" id="labelPass1">Contraseña</span></th>
                    <td><input type="password" class="form-control" id="inputPass1" name="inputPass1Register" placeholder="Indique su contraseña"></th></td>
                 </tr>

    <tr>
        <th><span class="input-group-text bg-dark text-white" id="labelPass2">Confirmación</span></th>
        <td><input type="password" class="form-control" id="inputPass2" name="inputPass2Register" placeholder="Repita su contraseña"></td>
    </tr>

    <tr>
        <th> <span class="input-group-text bg-dark text-white" id="labelGluMin">Gluc Min/Max (mg/dl)</span></th>
        <td class="input-group">
            <input type="number" class="form-control" id="inputGluMin" name="inputGluMinRegister" placeholder="Min (mg/dl)" value="80">
            <span>-</span>
            <input type="number" class="form-control" id="inputGluMax" name="inputGluMaxRegister" placeholder="Max (mg/dl)" value="120">
        </td>
    </tr>

    <tr>
        <th><span class="input-group-text bg-dark text-white" id="labelIns">Ratio Ins/Glu (mg/dl)/U</span></th>
        <td><input type="number" class="form-control" id="inputInsGlu" name="inputInsGluRegister" placeholder="Ejem 20 (mg/dl)/U" value="20"></td>
    </tr>

    <tr>
        <th><span class="input-group-text bg-dark text-white" id="labelIns">Ratio Ins/CH (mg/dl)/U</span></th>
        <td><input type="number" class="form-control" id="inputInsCh" name="inputInsChRegister" placeholder="Ejem 20 (g/U)" value="5"></td>
    </tr>

    <tr>
        <th><span class="input-group-text  bg-dark text-white" id="basic-addon1">Total insulina</span></th>
        <td><input type="number" class="form-control" placeholder="Indique su insulina total" id="inputInsTot" name="inputInsTotRegister"></td>
    </tr>

                <tr>
                    <th></th>
                    <td><input type="button" class="btn btn-light float-right" name="sendRegister" value="Enviar" id="sendRegister" onclick="helperGroup()" /></td>
                </tr>
    </tbody>
    </table>
</form>
<script src="~/Scripts/Login_SignUp_Veification.js"></script>