
@{
    ViewBag.Title = "SingUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="blockForm">
    <div id="blockAnalysis">
        <Form>
            <!--   FORMULARIO DE REGISTRO   -->
            <!--   NOMBRE   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                </div>
                <input type="text" class="form-control" placeholder="Indique su nombre">
            </div>
            <!--   APELLDO   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellidos</span>
                </div>
                <input type="text" class="form-control" placeholder="Indique sus apellidos">
            </div>
            <!--   PASSWORD   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Contraseña</span>
                </div>
                <input type="password" class="form-control" placeholder="Indique su contraseña">
            </div>
            <!--   CONFIRM PASS   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Confirmación</span>
                </div>
                <input type="password" class="form-control" placeholder="Confirme su contraseña">
            </div>
            <!--   EDAD   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Edad</span>
                </div>
                <input type="number" class="form-control" placeholder="Indique su edad">
            </div>
            <!--   PESO   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Peso</span>
                </div>
                <input type="number" class="form-control" placeholder="Indique su peso en Kg  75Kg">
            </div>
            <!--   ALTURA   -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Altura</span>
                </div>
                <input type="number" class="form-control" placeholder="Indique su altura en cm   180cm">
            </div>
            <!--   GLUCEMIA   -->
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Glucemia</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="min">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="max">
                        </div>
                    </div>
            </div>
            <!--   INSULINA / CARBOHIDRATOS   -->
            <!--   INSULINA / GLUCOSA   -->


        </Form>
    </div>
</form>

