
@{
    ViewBag.Title = "SingIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div id="blockSingInup">
        <label class="inTittle">PASSWORD</label>
        <div class="input-group mb-3">
            <input type="password" id="password" name="inPass" class="form-control" data-toggle="password" placeholder="Introduzca su contraseña">
            <input type="password" class="form-control" placeholder="Introduzca su contraseña">
        </div>
        <div>
            <a id="blockPassFor" href=""><i>He olvidado mi contraseña</i></a>
            <input id="sendButton" class="btn btn-light" type="button" value="Sing" onclick="window.location.href='@Url.Action("SingUp", "Login" )';" />
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#password").password('toggle');
</script>
